.chroma-slider {
  -webkit-appearance: none;
  width: 300px;
  height: 30px;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    to right,
    hsl(--primary-hue, 0%, 50%),
    hsl(--primary-hue, 100%, 50%)
  );
}

/* Remove default slider thumb appearance - WebKit */
.chroma-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: --currentColor;

  border: 2px solid #ccc;
  cursor: pointer;
  margin-top: -3px; /* Offsets the thumb so it stays centered on the slider track */
}

/* For Mozilla Firefox */
.chroma-slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #ccc;
  cursor: pointer;
}
