@tailwind base;
@tailwind components;
@tailwind utilities;

:root.light {
  /*
  HSL = Hue, Saturation, Lightness
  50: X, 92%, 95%
  100: X, 92%, 90%
  200: X, 93%, 79%
  300: X, 92%, 69%
  400: X, 92%, 58%
  500: X, 100%, 47%
  600: X, 100%, 38%
  700: X, 100%, 29%
  800: X, 100%, 19%
  900: X, 100%, 10%

  DARK MODE
  50: X, 100%, 10%
  100: X, 100%, 19%
  200: X, 100%, 29%
  300: X, 100%, 38%
  400: X, 100%, 47%
  500: X, 92%, 58%
  600: X, 92%, 69%
  700: X, 93%, 79%
  800: X, 92%, 90%
  900: X, 92%, 95%
  */
  --color-primary-hue: 228; /* Hue érték (H) */
  --color-primary: hsl(var(--color-primary-hue), 100%, 47%);
  --color-primary-50: hsl(var(--color-primary-hue), 92%, 95%);
  --color-primary-100: hsl(var(--color-primary-hue), 92%, 90%);
  --color-primary-200: hsl(var(--color-primary-hue), 93%, 79%);
  --color-primary-300: hsl(var(--color-primary-hue), 92%, 69%);
  --color-primary-400: hsl(var(--color-primary-hue), 92%, 58%);
  --color-primary-500: hsl(var(--color-primary-hue), 100%, 47%);
  --color-primary-600: hsl(var(--color-primary-hue), 100%, 38%);
  --color-primary-700: hsl(var(--color-primary-hue), 100%, 29%);
  --color-primary-800: hsl(var(--color-primary-hue), 100%, 19%);
  --color-primary-900: hsl(var(--color-primary-hue), 100%, 10%);
}

:root.dark {
  --color-primary: hsl(var(--color-primary-hue), 92%, 58%);
  --color-primary-50: hsl(var(--color-primary-hue), 100%, 10%);
  --color-primary-100: hsl(var(--color-primary-hue), 100%, 19%);
  --color-primary-200: hsl(var(--color-primary-hue), 100%, 29%);
  --color-primary-300: hsl(var(--color-primary-hue), 100%, 38%);
  --color-primary-400: hsl(var(--color-primary-hue), 100%, 47%);
  --color-primary-500: hsl(var(--color-primary-hue), 92%, 58%);
  --color-primary-600: hsl(var(--color-primary-hue), 92%, 69%);
  --color-primary-700: hsl(var(--color-primary-hue), 93%, 79%);
  --color-primary-800: hsl(var(--color-primary-hue), 92%, 90%);
  --color-primary-900: hsl(var(--color-primary-hue), 92%, 95%);
}

.card__face--front {
  background-color: red;
}

.card__face--back {
  background-color: #000;
  color: white;
  transform: rotateY(180deg);
}

.card_contents {
  overflow-y: auto;
  margin: 0;
  display: flex;
}

.myglass,
.myglass.btn-active {
  -webkit-backdrop-filter: blur(var(--glass-blur, 40px));
  backdrop-filter: blur(var(--glass-blur, 40px));
  background-color: transparent;
  background-image: linear-gradient(
    135deg,
    rgb(255 255 255 / var(--glass-opacity, 30%)) 0%,
    rgb(0 0 0 / 0%) 100%
  );
  box-shadow:
    0 0 0 1px rgb(255 255 255 / var(--glass-border-opacity, 10%)) inset,
    0 0 0 2px rgb(0 0 0 / 5%);
  text-shadow: 0 1px rgb(0 0 0 / var(--glass-text-shadow-opacity, 5%));
}

.no-scroll {
  overflow: hidden;
}
